// KEPT FOR LEGACY REASON

@mixin fade-in($animation-name, $final-transform-value: translateX(0%), $initial-transform-value: translateX(-50%)) {
	@keyframes #{$animation-name} {
		from {
			transform: $initial-transform-value;
			// opacity: 0%;
		}
		to {
			transform: $final-transform-value;
			// opacity: 100%;
		}
	}
}
@include fade-in(fade-in-right, none, translateX(30%));

@mixin fadeInAnimation($direction, $delay: null, $speed: .125s) {
	// opacity: 1;
	animation: fade-in-#{$direction} $speed ease-out $delay forwards;
}

// KEPT FOR LEGACY REASON //

@mixin move-up-and-down() {
	@keyframes move-up-and-down {
		from {
			transform: translateY(0%);
		}
		to {
			transform: translateY(300%);
		}
	}
}
@include move-up-and-down;

@mixin move-up-and-down-fade() {
	@keyframes move-up-and-down-fade {
		0% {
			transform: translateY(0%);
			opacity: 0;
		}
		25% {
			opacity: 100;
		}
		75% {
			opacity: 100;
		}
		100% {
			transform: translateY(300%);
			opacity: 0;
		}
	}
}
@include move-up-and-down-fade;


@keyframes just-disappear {
	from {
		transform: translate(0);
	}
	to {
		transform: translate(0, 999px);
	}
}


// pulsating focus outline
@keyframes pulsating-outline {
	50% {
		outline-offset: .15rem;
		border-radius: .5em;
	}
}