// TODO: all these fade-in into a function
@mixin fade-in-left($final-transform-value: translateX(0%), $initial-transform-value: translateX(-50%), $final-opacity-value: 100%, $initial-opacity-value: 0%) {
	@keyframes fade-in-left {
		from {
			transform: $initial-transform-value;
			opacity: $initial-opacity-value;
		}
		to {
			transform: $final-transform-value;
			opacity: $final-opacity-value;
		}
	}
}
@include fade-in-left;

@mixin fade-in-right($final-transform-value: translateX(0%), $initial-transform-value: translateX(50%), $final-opacity-value: 100%, $initial-opacity-value: 0%) {
	@keyframes fade-in-right {
		from {
			transform: $initial-transform-value;
			opacity: $initial-opacity-value;
		}
		to {
			transform: $final-transform-value;
			opacity: $final-opacity-value;
		}
	}
}
@include fade-in-right;

@mixin fade-in-top($final-transform-value: translateX(0%), $initial-transform-value: translateY(-50%), $final-opacity-value: 100%, $initial-opacity-value: 0%) {
	@keyframes fade-in-top {
		from {
			transform: $initial-transform-value;
			opacity: $initial-opacity-value;
		}
		to {
			transform: $final-transform-value;
			opacity: $final-opacity-value;
		}
	}
}
@include fade-in-top;

@mixin fade-in-bottom($final-transform-value: translateX(0%), $initial-transform-value: translateY(50%), $final-opacity-value: 100%, $initial-opacity-value: 0%) {
	@keyframes fade-in-bottom {
		from {
			transform: $initial-transform-value;
			opacity: $initial-opacity-value;
		}
		to {
			transform: $final-transform-value;
			opacity: $final-opacity-value;
		}
	}
}
@include fade-in-bottom;

@mixin fadeInAnimation($direction, $delay: null, $speed: .125s) {
	opacity: 0; // I cannot remove this because my fadeable system doesn't allow for a delay & visibility would get overwritten is included at start
	visibility: visible;
	animation: fade-in-#{$direction} $speed ease-out $delay forwards;
}

.fadeIn {
	&.fadeable {
		&--top {
			@include fadeInAnimation(top);
		}
		&--bottom {
			@include fadeInAnimation(bottom);
		}
		&--left {
			@include fadeInAnimation(left);
		}
		&--right {
			@include fadeInAnimation(right);
		}
	}
}


@mixin move-up-and-down() {
	@keyframes move-up-and-down {
		from {
			transform: translateY(0%);
		}
		to {
			transform: translateY(300%);
		}
	}
}
@include move-up-and-down;

@mixin move-up-and-down-fade() {
	@keyframes move-up-and-down-fade {
		0% {
			transform: translateY(0%);
			opacity: 0;
		}
		25% {
			opacity: 100;
		}
		75% {
			opacity: 100;
		}
		100% {
			transform: translateY(300%);
			opacity: 0;
		}
	}
}
@include move-up-and-down-fade;


@keyframes just-disappear {
	from {
		transform: translate(0);
	}
	to {
		transform: translate(0, 999px);
	}
}