
// parts picked from https://stackoverflow.com/a/18658936/17701651 & https://stackoverflow.com/a/45124084/17701651
@mixin font-face($family, $path, $svgFontName, $weight: normal, $style: normal) {
	@font-face {
		font-family: $family;
		src: url('#{$path}.eot'); /* IE9 Compat Modes */
		src: url('#{$path}.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		  url('#{$path}.woff2') format('woff2'), /* Super Modern Browsers */
		  url('#{$path}.woff') format('woff'), /* Pretty Modern Browsers */
		  url('#{$path}.ttf')  format('truetype'), /* Safari, Android, iOS */
		  url('#{$path}.svg##{$svgFontName}') format('svg'); /* Legacy iOS */
		font-weight: $weight;
		font-style: $style;
	}
}


// title text

$text-title-font: Montserrat;

$text-title-weight: semi-bold;

$text-title-size: 82px; // replace with 3em
$text-title-size-smaller: $scale-main;
$text-title-size-smallest: 20px;

@include font-face($text-title-font, '../fonts/montserrat-semibold/montserrat-semibold-webfont', '', $text-title-weight);


// regular text

$text-small-font: Lato;

$text-small-weight-lighter: lighter;
$text-small-weight-normal: normal;
$text-small-style2: italic;

$text-small-size: 16px;
$text-small-size-bigger: 1.7em; // 1.25em

// this should workd but it doesn't (https://stackoverflow.com/a/21614532/17701651) idk why
// light
@include font-face($text-small-font, '../fonts/Lato-light/Lato-light-webfont', '', $text-small-weight-lighter);

// light italic
@include font-face($text-small-font, '../fonts/Lato-light/Lato-lightitalic-webfont', '', $text-small-weight-lighter, $text-small-style2);

// regular
@include font-face($text-small-font, '../fonts/lato-regular/Lato-regular-webfont', '', $text-small-weight-normal);

// regular italic
@include font-face($text-small-font, '../fonts/lato-regular/Lato-italic-webfont', '', $text-small-weight-normal, $text-small-style2);


// special text

$text-special-font: "Gentium Basic";

$text-special-weight: normal;
$text-small-style2: italic;

$text-special-size: $scale-main-alt;

// TODO: get bolder variant
// regular
@include font-face($text-special-font, '../fonts/Gentium_Basic-regular/genbasi-webfont', '', $text-special-weight);

// italic
@include font-face($text-special-font, '../fonts/Gentium_Basic-regular/genbasi-webfont', '', $text-special-weight, $text-small-style2);