$round: 50%;
$scale-main: 30px;
$scale-main-alt: 28px;
$scale-main-mini: 10px;
$top-margin-smaller: 80px;
$top-margin-small: 100px;
$top-margin: 150px;
$margin-items: 50px;
$padding-general: 10vw;

$header-height: 5vh;