
.contact {

	margin-top: calc($top-margin-smaller + $header-height);

	&__title {
		transition-delay: .25s !important;
	}
	&__tagline {
		transition-delay: .5s !important;
	}

	&__form {
		transform: translateY(30%);
	}
}

// desktop
@media(min-width: 980px) {

}