
.faq {

	margin-top: calc($top-margin-smaller + $header-height);

	&__title {
		font-family: Montserrat;
		font-size: $text-title-size/2;
		text-align: center;
		
		// fade-in
		opacity: 0;
		animation: fade-in-top .125s ease-out forwards;
	}
	&__tagline {
		margin-bottom: $top-margin/1.5;
		
		font-family: Lato;
		font-size: $text-small-size-bigger/1.5;
		text-align: center;

		// fade-in
		opacity: 0;
		animation: fade-in-top .125s ease-out .25s forwards;
	}

	&__search {
		.search {
			&__container {
				display: flex;
				flex-flow: column nowrap;
				align-items: center;
				gap: $scale-main-mini;
			}
			&__label {
				font-family: lato;
				font-size: $text-small-size;
			}

			//idk what I want to do, design this
			&__input {

				display: flex;
				flex-flow: row nowrap;

				.input {
					&__field {

						flex: 1;
						
						width: 100%;
						min-height: 2em;
						
						background-color: $background2;
						
						border: 1px solid rgba($dark, .25);
						border-radius: 30px;
						
						@include small-dark-shadow-inside;

					}
					&__button {
						@include component-button(16px, $bright, $background);
					}
				}
			}
		}
	}
}