
.faq {

	padding: 0 $padding-general*2;
	margin-top: calc($top-margin-smaller + $header-height);

	&__title {
		font-family: Montserrat;
		font-size: $text-title-size/2;
		text-align: center;
		
		@include fadeInAnimation(top);
	}
	&__tagline {
		margin-bottom: $top-margin/1.5;
		
		font-family: Lato;
		font-size: $text-small-size-bigger/1.5;
		text-align: center;

		@include fadeInAnimation(top, .25s);
	}

	&__search {
		.search {
			&__container {
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: $scale-main-mini;
			}
			&__label {
				font-family: lato;
				font-size: $text-small-size;
			}

			// design me this, Batman!
			&__input {

				display: flex;
				gap: 1em;

				.input {
					&__field {

						flex: 1;
						
						width: 100%;
						min-height: 2em;
						
						background-color: $background2;
						
						border: 1px solid rgba($dark, .25);
						border-radius: 30px;
						
						@include small-dark-shadow-inside;

					}
					// TODO: turn button into magnifier widget
					&__button {
						flex-shrink: 1;

						@include component-button(16px, $brighter, $background);
					}
				}
			}
		}
	}

	&__questions {
		margin-top: $top-margin/1.5;
	}
}

// smaller mobile
@media(max-width: 540px) {
	.search {
		&__input {
			width: 100%;
			flex-direction: column;
		}
	}
}

// mobile
@media(min-width: 540px) and (max-width: 980px) {
	.search {
		&__input {
			width: 50%;
			flex-direction: column;
		}
	}
}

// desktop
@media(min-width: 980px) {
	.search {
		&__input {
			width: 50%;
			flex-direction: row;
		}
	}
}