.layout {
	margin-top: $scale-main * 7;

	&__intro {

		margin-bottom: $scale-main * 2;
		max-width: 30vw;

		.intro {
			&__video-wrapper {
				display: none;
				z-index: -10;

				@include fadeInAnimation(right, null, .5s);

				.video-wrapper {
					&__video {
						min-width: 50vw;
						min-height: 50vh;
						max-width: 80vw;
						max-height: 80vh;
					}
				}
			}

			&__title {
				position: relative;
				margin-bottom: $scale-main-mini*2;
				
				font-family: Montserrat;
				font-size: $text-title-size / 2;
				line-height: 1.2;

				@include fadeInAnimation(left);
			}
			
			&__tagline {
				margin-bottom: $scale-main*1.5;
				position: relative;
				left: $scale-main;
				
				font-family: Lato;
				font-size: $text-small-size-bigger/1.5;

				@include fadeInAnimation(left, .25s);
			}

			&__button-wrapper {
				overflow: visible;
				display: flex;
				flex-direction: row;
				gap: $scale-main/2;
				
				@include fadeInAnimation(left, .5s);
			}
			&__button {

				@include component-button($text-title-size/5);

				width: fit-content;
				padding-left: 1em;
				padding-right: 1em;

				&:last-child {
					@include component-button($text-title-size/5, $background, $accent, $scale-main-mini $scale-main-mini*2);
					
					// max-width: .5vw;
					padding-left: $scale-main/4;
					padding-right: $scale-main/4;
				}
			}
		}
	}

	&__products {
		.products {
			&__title {
				display: none;
			}
		}
	}
}


// desktop
@media(min-width: 980px) {
	.layout {
		&__intro {
			.intro {
				&__video-wrapper {
					display: inline-block;
					position: absolute;
					right: -10vw;
					top: 18vh;
					
					// .video-wrapper {
					// 	&__video {
					// 	}
					// }
				}
			}
		}
	}
}

// big desktop
@media(min-width: 1440px) {
	.layout {
		&__intro {
			.intro {
				&__video-wrapper {
					right: -20vw;
					top: 15vh;

					.video-wrapper {
						&__video { // TODO: auto-scale further
							max-width: 100vw;
							max-height: 100vh;
						}
					}
				}
			}
		}
	}
}