.intro {

	// shared
	&__title, .bullet-point__title {

		position: relative;
		margin-bottom: $scale-main-mini*2;
		
		font-family: Montserrat;
		font-size: $text-title-size / 2;
		line-height: 1.2;

		.title {
			&__special {
				font-family: "Gentium Basic";
			}
		}
	}
	
	&__tagline, .bullet-point__tagline {
		margin-bottom: $scale-main*1.5;
		
		font-family: Lato;
		font-size: $text-small-size-bigger/1.5;
	}
	.bullet-point__tagline {
		position: relative;
		left: $scale-main;
	}
	
	// specific
	
	&__welcome {

		margin-top: $scale-main * 7;
		margin-bottom: $scale-main * 2;

		min-height: calc(100vh - $scale-main * 7); // to push the next section right below the screen (100vh - margin-top of page)

	}
	&__title {
		transform: translateX(-30%);
	}
	&__tagline {
		transform: translateX(-30%);
		transition-delay: .25s !important;
	}
	&__video-wrapper { // this has to be separated from the rest below because idfk
		display: none;
		z-index: -10;
		overflow: hidden;

		transform: translateX(30%);
		transition-duration: .5s !important;
	}
	&__buttons-wrapper {
		overflow: visible;
		display: flex;
		flex-direction: row;
		gap: $scale-main/2;
		
		transform: translateX(-30%);
		transition-delay: .5s !important;
	}
	&__button {

		@include component-button($text-title-size/5, $bright);

		width: fit-content;
		padding-left: 1em;
		padding-right: 1em;
	}

	&__scroll-down {

		color: $bright;
		opacity: .5;

		font-family: Montserrat;
		font-size: 2em;
		text-align: center;

		position: absolute;
		// position set into media queries

		user-select: none;

		// arrow
		// adapted from https://stackoverflow.com/a/11705764/17701651
		&:after{
			content: '';
			display: inline-block;
			
			width: 0;
			height: 0;

			position: relative;
			left: calc(-50% - .3em); //50% - size of arrow
			bottom: -1.5em;

			border-color: $bright transparent transparent;
			border-style: solid;
			border-width: .35em;

			animation: move-up-and-down-fade 2s ease-in-out infinite;
		}
		// I wanted to make a big soft glow around the text, it works but it looks meh
		// &:before {
		// 	content: '';
		// 	z-index: -10;
		// 	display: block;

		// 	position: absolute;
		// 	width: 100%;
		// 	height: 100%;

		// 	background-color: rgba(var(--accent-lighter) , .5);
			
		// 	filter: blur(50px);
		// }
	}
}

.intro__bullet-point {

	transform: translateX(-30%);

	display: flex;
	justify-content: space-between;
	align-items: center;

	margin-bottom: 5em;

	&:nth-child(odd) { // right aligned sections
		flex-flow: row-reverse;
		transform: translateX(30%);
	}

	.bullet-point {
		&__text-wrapper {
			display: flex;
			flex-flow: column;
			max-width: 30vw;
		}
		&__button {
			@include component-button(1em, $bright, $background);

			position: relative;
			left: $scale-main;

			width: fit-content;
			padding-left: 1em;
			padding-right: 1em;
		}
		&__img {
			max-width: 50%;
			
			object-position: -99999px 99999px; // to hide the images & leave a blue square until I find good ones
			background-color: $bright;
		}
	}
}


// mobile
@media(max-width: 980px) {
	.intro {
		&__welcome {
			margin-top: 0;
			max-width: unset;
		}

		&__scroll-down {
			bottom: 15vh;
			left: unset;
			right: 12vw;
		}

		&__tagline {
			max-width: unset;
		}
	}
}

// desktop
@media(min-width: 980px) {
	.intro {
		&__welcome {
			max-width: 30vw;
		}

		&__scroll-down {
			bottom: 15vh;
			left: 12vw;
			right: unset;
		}
		
		&__video-wrapper {

			display: inline-block;
			width: 100vw;
			height: 100vh;

			position: absolute;
			top: 0;
			right: 0;
			
			.video-wrapper {
				&__video {
					position: absolute;
					right: -10vw;
					top: 18vh;

					max-width: 80%;
				}
			}
		}

		&__tagline {
			max-width: 30vw;
		}
	}
}

// big desktop
@media(min-width: 1440px) {
	.intro {
		&__video-wrapper {
			.video-wrapper {
				&__video {
					// TODO: allow it to go higher than the screen
					top: 0;

					height: 100%;
				}
			}
		}
	}
}
@media(min-width: 1800px) { // size of the image 
	.intro {
		&__video-wrapper {
			.video-wrapper {
				&__video {
					top: 10vh;
				}
			}
		}
	}
}