.products {
	&__container {
		display: grid;
		grid: auto-flow / repeat( auto-fill, minmax(250px, 1fr) );
		column-gap: 10%;
		row-gap: 8em; // percents aren't taken into account in the height
		justify-items: center;
		place-items: stretch;
	}
}