
.singleProduct {
	
	$descriptionSize: 55%;
	
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	font-family: Lato;
	font-size: $text-small-size-bigger/1.5;
	text-align: center;

	max-width: $descriptionSize;
	margin-top: calc($top-margin-smaller + $header-height);
	margin-left: 100% - $descriptionSize;

	&__tagline {
		margin-bottom: .2em;

		color: $accent;

		@include fadeInAnimation(top, .25s);
	}
	&__title {
		margin-bottom: .7em;

		font-family: Montserrat;
		font-size: $text-title-size/2;
		text-align: center;

		color: $darker;
		
		@include fadeInAnimation(top);
	}

	&__cta {
		margin-bottom: 3em;
		max-width: 70%;
		
		@include component-button(1em);
		
		text-align: center;

		@include fadeInAnimation(top, .5s);
	}
	
	&__content {
		margin-bottom: 2em;
		
		text-align: justify;

		@include fadeInAnimation(right, .75s);
	}
	&__details {

		min-width: 100%;

		background-color: $background2;

		border-radius: $scale-main;

		@include fadeInAnimation(right, .75s);

		.details {
			&__subtitle {
				display: none;
			}
		}
	}

	&__images {
		float: left;
	}
}