.products {
	
	&__title {
		font-family: Montserrat;
		font-size: 3em;

		@include fadeInAnimation(left);
	}
	&__tagline {
		position: relative;
		left: 2em;
		
		margin-bottom: $top-margin/1.5;
		
		font-family: Lato;
		font-size: 1.25em;
		
		@include fadeInAnimation(left, .25s);
	}

	&__container {
		display: grid;
		grid: auto-flow / 1fr 1fr;
		column-gap: 2em;
		row-gap: 8em; // percents aren't taken into account in the height
		justify-items: center;
	}
}