.layout {
	margin-top: $scale-main * 7;
	max-width: 30vw;

	&__intro {
		// display: flex;
		// flex-direction: column;
		// gap: $scale-main/4;

		margin-bottom: $scale-main * 2;

		.intro {

			&__video-wrapper {
				position: absolute;
				z-index: -10;
				right: -10vw;
				top: 18vh;

				.video-wrapper {
					&__video {
						max-width: 80vw;
						max-height: 80vh;
					}
				}
			}

			&__title {
				margin-bottom: $scale-main-mini*2;
				
				font-family: Montserrat;
				font-size: $text-title-size / 2;
				line-height: 1.2;
			}
			
			&__tagline { // TODO: fix cut off
				margin-bottom: $scale-main*1.5;
				position: relative;
				left: $scale-main;

				font-family: Lato;
				font-size: $text-small-size-bigger/1.5;
			}

			&__button-wrapper {
				overflow: visible;
				display: flex;
				flex-direction: row;
				gap: $scale-main/2;
			}
			&__button {
				@include component-button($text-title-size/5);
				max-width: 15vw;
				padding-left: $scale-main/2;
				padding-right: $scale-main/2;
				
				&:last-child {
					@include component-button($text-title-size/5, $background, $accent);
					
					max-width: .5vw;
					padding-left: $scale-main/4;
					padding-right: $scale-main/4;
				}
			}
		}
	}

	&__products {
		.products {
			&__title {
				display: none;
			}
		}
	}
}