@import "common/reset";
@import "common/colors";
@import "common/scales";
@import "common/fonts";
@import "common/effects";
@import "common/animations";

@import "components/button";
@import "components/form";
@import "components/question-card";
@import "components/question-collapsible";
@import "components/product-card";
@import "components/language-selector";
@import "components/social-media";

@import "components/single/footer";
@import "components/single/header";
@import "components/single/scrollbar";


* {

	line-height: normal;

	&:focus { // focus outline
		outline: .115rem invert;
		outline-offset: .35rem;
		border-radius: .05em;
		// animation: pulsating-outline 2s infinite; // looks bad
	}
}

html {
	overflow-x: hidden;
	overflow: overlay; // scrollbars overlay on webkit
}
body {
	@include scrollbar(.6vw, .6vw, $brighter);
	background-color: $background; // this is just a obvious default until I find an extreme browser stylesheet
}
main {
	margin: calc($top-margin-smaller + $header-height) 0;
	padding: 0 $padding-general;
}

.hidden {
	opacity: 0!important; // that's kind of the point if you're specifically adding a class like this to something

	transition: opacity 1s ease-out;
}
.fadeable {
	&--top, &--bottom, &--left, &--right {
		visibility: hidden; // we still want it to take up space
	}
}

// mobile
@media(max-width: 980px) {
	main {
		margin: $top-margin-smaller 0;
	}
}

@import "pages/index";
@import "pages/contact";
@import "pages/products";
@import "pages/product";
@import "pages/faq";
@import "pages/404";