@import "common/reset";
@import "common/colors";
@import "common/scales";
@import "common/fonts";
@import "common/effects";
@import "common/animations";

@import "components/button";
@import "components/form";
@import "components/question-card";
@import "components/question-collapsible";
@import "components/product-card";

@import "components/single/footer";
@import "components/single/header";
@import "components/single/scrollbar";


* {

	line-height: normal;

	&:focus {
		outline: .115rem dashed rgba($dark, .5);
	}
}

html {
	overflow: overlay; // scrollbars overlay on webkit
}
body {
	@include scrollbar(.6vw, .6vw, $brighter);
}
main {
	margin: calc($top-margin-smaller + $header-height) 0;
	padding: 0 $padding-general;

	// min-height: calc(100vh - $footer-height); // to push the footer to the end of the page
}

.hidden {
	opacity: 0!important; // that's kind of the point if you're specifically adding a class like this to something

	transition: opacity 1s ease-out;
}
.fadeable {
	&--top, &--bottom, &--left, &--right {
		visibility: hidden; // we still want it to take up space
	}
}


@import "pages/index";
@import "pages/contact";
@import "pages/products";
@import "pages/product";
@import "pages/faq";
@import "pages/404";