
$footer-height: 10vh;

// TODO: make footer smaller & center content & HEPL + issep logo
.footer {
	position: relative; // needed for the copyright notice
	
	min-width: 100vw;
	min-height: $footer-height;

	background-color: $brighter;
	color: $background;

	font-family: Lato;
	font-size: $text-small-size;

	@include small-dark-shadow-upside;
	
	&__nav {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;

		.nav {
			&__social-media {

				display: flex;
				flex-direction: row;
				gap: $scale-main-mini*2;

				.social-media {
					&__item {
						max-width: $scale-main;
						max-height: $scale-main;
						
						& img {
							width: 100%;
							height: 100%;

							// TODO: make icon change on hover, modify svg
						}
					}
				}
			}

			&__container {
				padding: $margin-items/2;

				// TODO: finish this
				// &::before {
				// 	content: '';

				// 	position: relative;
				// 	right: $scale-main;

				// 	border-left: 2px solid rgba($dark, .25);
				// }

				&--about {
					flex: 1;
				}

				&:last-child {
					display: flex;
					align-items: flex-end;
					
					.nav__item {
						text-align: right;
	
						a {
							color: $background;
							text-decoration: none;
							&:hover {
								text-decoration: underline;
							}
						}
					}
	
					.nav__languages {
						list-style: none;
	
						li {
							display: inline-block;
						}
					}
	
				}
			}
			

			&__separator {
				font-family: Montserrat;
				font-size: $text-title-size/2;
			}

			&__pages {
				margin-bottom: $scale-main/2;

				li {
					margin-bottom: $scale-main-mini;
				}
			}

			&__title {
				font-family: Montserrat;
				font-size: $text-title-size-smallest;
				text-decoration: none;
				
				margin-bottom: $scale-main-mini*1.5;
			}

			&__paragraph {
				margin-bottom: $scale-main-mini;
			}

			&__button {
				@include component-button($text-title-size-smaller/2, $background, $brighter, .5em .5em);
				max-width: 6em;
				max-height: 2em;
			}
		}
	}

	&__copyright {
		font-size: .6em;
		position: absolute;
		bottom: 5px;
		right: $scale-main-mini;
	}
}


// mobile
@media(max-width: 980px) {
	.footer {
		&__nav {
			flex-direction: column;

			.nav {
				&__container {

					max-width: 100%;

					&:last-child {
						display: block;
						min-width: 100%
					}
				}
			}
		}
	}
}

// desktop
@media(min-width: 980px) {
	.footer {
		&__nav {
			flex-direction: row;

			.nav {
				&__container {

					max-width: 30vw;

					&:last-child {
						flex-direction: column;
						min-width: 100px; // for longer names
					}
				}
			}
		}
	}
}