
// hamburger menu taken from https://codeconvey.com/responsive-hamburger-menu-css-only/

.header {

	z-index: 100;
	position: fixed;
	top: 0;
	right: -100vw;
	transition: right .2s ease-out;

	max-width: 10vw;
	min-height: 100vh;
	padding: $scale-main-mini*1.5 $scale-main-mini*2;

	background-color: $background;
	color: $darker;

	font-family: Lato;
	font-size: $text-small-size-bigger;

	@include small-dark-shadow;

	&__skip-to-content {
		position: absolute;
		left: -100vw;

		&:focus {
			left: 10vw;
		}
	}

	&__title {
		display: none;
	}
		
	.nav {
		position: relative;

		&__hidden, & h2 { // fixme: __title not working
			display: none;
		}

		&__home {
			
			position: absolute;
			bottom: -5vh;
			left: -1.5vh;
			
			display: flex;
			justify-content: center;
			align-items: center;

			background-color: $background;

			width: 100px;
			height: 100px;

			padding: 20px;
			border-radius: 50%;
		
			@include small-dark-shadow;

			&:focus { // because this is the default focused element
				outline: none;
			}
		}

		// hamburger menu functionality
		.hamburger-button {
			display: none;
		}
		.hamburger-button:checked  {
			& ~ .nav__icon .navicon {
				background: transparent;
			}
			& ~ .nav__icon .navicon:before {
				transform: translateY(-$scale-main-mini*1.5) rotate(-45deg);
			}
			& ~ .nav__icon .navicon:after {
				transform: translateY($scale-main-mini*1.5) rotate(45deg);
			}

			& ~ .nav__container {
				right: 150px;
			}
		}

		// hamburger menu button
		&__icon {
			display: inline-block;
			position: fixed;
			right: $scale-main-mini;
			top: $scale-main-mini;

			padding: $scale-main $scale-main-mini*2;
			cursor: pointer;
			
			// actual icon
			.navicon {
				display: block;
				position: relative;

				width: $scale-main-mini*4;
				height: 3px;
				border-radius: $scale-main-mini;

				background: #000;

				transition: background .2s ease-out;
				
				&::before, &::after {
					content: '';
					display: block;
					position: absolute;

					width: 100%;
					height: 100%;
					border-radius: $scale-main-mini;

					background: #000;

					transition: all .2s ease-out;
				}
				&::before {
					top: $scale-main-mini*1.5;
				}
				&::after {
					top: -$scale-main-mini*1.5;
				}
			}
		}

		&__container {
			display: flex;
			flex-direction: column;
			gap: $scale-main;

			list-style: none;
		}

		&__item {
			display: inline-block; // fixme

			color: $darker;
			&:visited {
				color: $darker;
			}
		}
		&__link {
			display: block;
			text-decoration: none;
			transition: color .2s ease-out;
			
			&:hover {
				color: $accent;
				transition: color .1s ease-out;
			}
		}
	}
}

// // tablet
// @media(min-width: 768px) {
// }

// // small desktop
// @media(min-width: 800px) {
	
// }
	
// desktop
@media(min-width: 980px) {
	.header {
		right: unset;

		min-width: 100vw;
		min-height: $header-height;

		.nav {
			&__container {
				position: relative;
				top: $scale-main-mini/2;
				right: unset;

				flex-flow: row wrap;
				justify-content: flex-end;
			}

			&__icon {
				.navicon {
					visibility: hidden;
					// display: none; // for some reason this doesn't work, remove the visibility above when fixed
				}
			}
		}
	}
}