
// hamburger menu taken from https://codeconvey.com/responsive-hamburger-menu-css-only/

// hamburger menu button
.hamburger {

	display: block;

	z-index: 200;
	position: fixed;
	right: $scale-main-mini;
	top: $scale-main-mini;

	padding: $scale-main $scale-main-mini*2;
	cursor: pointer;

	&::before { // this will be the solution until I make the icon dispear depending on the scrolling direction
		content: '';
		display: block;

		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;

		background-color: $background;
		
		filter: blur(10px);
	}
	
	// actual icon
	.navicon {
		display: inherit;
		position: relative;

		width: $scale-main-mini*4;
		height: 3px;
		border-radius: $scale-main-mini;

		background: #000;

		transition: background .2s ease-out;
		
		&::before, &::after {
			content: '';
			display: block;
			position: absolute;

			width: 100%;
			height: 100%;
			border-radius: $scale-main-mini;

			background: #000;

			transition: all .2s ease-out;
		}
		&::before {
			top: $scale-main-mini*1.5;
		}
		&::after {
			top: -$scale-main-mini*1.5;
		}

		&--crossed  {
			& {
				background: transparent;
			}
			&::before {
				transform: translateY(-$scale-main-mini*1.5) rotate(-45deg);
			}
			&::after {
				transform: translateY($scale-main-mini*1.5) rotate(45deg);
			}
		}
	}
}

.header {

	z-index: 100;
	position: fixed;
	top: 0;

	background-color: $background;
	color: $darker;

	font-family: Lato;
	font-size: $text-small-size-bigger;

	// TODO: fix font weight
	font-weight: $text-small-weight-lighter!important;

	@include small-dark-shadow;

	&__skip-to-content {
		display: none;

		position: absolute;
		left: -100vw;

		&:focus {
			left: 10vw;
		}
	}

	&__title {
		display: none;
	}
		
	.nav {

		&__hidden, &__title {
			display: none;
		}

		&__home {
			
			position: absolute;
			bottom: -75%;
			left: .5%;
			
			display: flex;
			justify-content: center;
			align-items: center;

			background-color: $background;

			padding: .8em;
			border-radius: $round;
		
			@include small-dark-shadow;

			&:focus {
				outline: none; // because this is the default focused element
			}
		}

		&__container {
			display: flex;
			flex-direction: column;
			gap: 1.5em;

			list-style: none;
		}

		&__item {

			display: inline-block; // fixme
			
			color: $darker;
			
			&:last-child {

				margin-left: 2em;
				
				& a {
	
				@include component-button(.6em, $brighter, $background);
				
				// because this is a visitable a
				&:visited {
					color: $background;
					&:hover {
						color: $brighter;
					}
				}
			}
			}
		}
		&__link {
			display: block;
			text-decoration: none;
			transition: color .2s ease-out;
			
			&:hover {
				color: $accent;
				transition: color .1s ease-out;
			}
		}
	}
}

.overlay {

	pointer-events: none; // instead of display or visibility so I can animate it smoothly
	
	opacity: 0;
	transition: opacity .125s ease-out;
	
	&--on {
		pointer-events: auto;
		cursor: pointer;

		opacity: 100;
		transition: opacity .125s ease-out;
	}

	z-index: 90;
	position: fixed;
	top: 0;

	min-width: 100vw;
	min-height: 100vh;

	&--light {
		background-color: rgba(black, .35);
	}
	&--dark {
		background-color: rgba(white, .35);
	}
}


// mobile
@media(max-width: 980px) {
	.header {
		right: 0;

		min-width: 60vw;
		min-height: 100vh;

		padding: .5em 1em;

		transform: translatex(100%);
		transition: transform .125s ease-out;
		
		&--open {
			transform: none;
			transition: transform .125s ease-out;
		}

		&__nav {

			margin-top: 10vh;

			.nav {
				&__container {
					flex-direction: column;
					align-items: flex-end;
				}
			}
		}
	}
}

	
// desktop
@media(min-width: 980px) {

	.hamburger {
		display: none;
	}

	.header {
		
		right: unset;

		min-width: 100vw;
		padding: .5em 1.5em;

		&__skip-to-content {
			display: inline-block;
		}

		.nav {

			// to vertical align
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			align-items: center;
			
			&__container {
				flex-flow: row wrap;
				justify-content: flex-end;
			}
		}
	}

	.overlay {
		display: none;
	}
}