
@mixin button-transition {
	transition-property: color, background-color;
	transition-duration: .125s;
	transition-timing-function: ease-out;
}

@mixin component-button($font-size: 1em, $color: var(--accent), $text-color: $background, $padding: .5em 2em, $radius: .7em) {

	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;

	padding: $padding;

	background-color: $color;
	color: $text-color;

	font-family: Montserrat;
	font-size: $font-size;
	text-decoration: none;

	border-radius: $radius;
	border: 1px solid rgba($dark, .25);

	@include button-transition;

	&:hover, &:focus {
		color: $color;
		background-color: $text-color;

		@include button-transition;
		@include small-bright-shadow(1px, 3px, rgba($text-color, .6));
	}

	@include small-bright-shadow(1px, 3px, rgba($color, .6));
}