.form {

	margin: 0 $padding-general*-1; // because "-" in front of a variable confuses sass
	padding: $top-margin/2 $padding-general;

	background-color: $background2;

	@include small-dark-shadow-inside;

	@include fadeInAnimation(bottom, .5s);

	&--two-column {
		.form {
			&__field {
				flex: 1;
			}
		}
		.field {
			&__input {
				width: 100%!important; // TODO: remove !important
			}
		}
	}

	&__field {
		.field {
			&__label {
				display: block;
				margin-bottom: $scale-main/5;

				font-family: lato;
				font-size: $text-small-size-bigger/1.5;
			}

			&__input {

				min-height: $top-margin-small/2.25;
				width: 100vw - $padding-general*2;

				padding-left: 1em;
				margin-bottom: $margin-items/1.5;
				
				font-family: Lato;
				font-size: 1.2em;

				background-color: $background;
				color: black;

				outline: none; // for the thingy in :focus
				border: 2px solid rgba($dark, .25);
				border-radius: $scale-main/2;
								
				@include small-dark-shadow-inside;

				&:focus {
					border: 2.5px solid $brighter;
				}
			}

			&__link {

				text-decoration: none;
				color: $accent;

				&:focus, &:hover {
					text-decoration: underline;
				}
			}

			// TODO: custom checkbox
			// &__checker {
			// }

			&__checklabel {
				font-family: lato;
				font-size: $text-small-size-bigger/1.5;
			}
		}

		& textarea { // todo: better selector, dynamic number of rows & fonts
			resize: none;
			height: 15em;

			padding: 1em;

			&::-webkit-scrollbar {
				width: 1em;
			}
			&::-webkit-scrollbar-thumb {
				background: $brighter;
				border-radius: $scale-main;
			}
			&::-webkit-scrollbar-track {
				background: transparent;
			}
		}
	}

	&__action {

		display: flex;
		flex-direction: row-reverse;

		margin-top: 2em;

		.action {
			&__button {
				
				@include component-button($text-title-size-smaller/1.5);
				
				@include button-transition;
			}
		}
	}

	&__errors {
		display: block;
		font-family: Lato;
		font-size: 1.5em;
		text-align: right;

		color: red;
	}
	
	&__error {
		font-family: Lato;
		font-size: 1.3em;

		color: red;
	}

	&__feedback {

		display: block;
		z-index: 100;
		max-width: 80%;
		min-height: 5%;

		position: fixed;
		bottom: 2em;
		right: 2em;

		padding: 1em;

		font-family: Montserrat;
		font-size: 1.2em;
		text-align: center;

		border-radius: .7em;

		user-select: none;

		@include small-dark-shadow;
		animation: just-disappear .5s ease-in 5s forwards;

		&--success {
			color: $background;
			background-color: $accent;
		}
		&--failure {
			color: black;
			background-color: red;
		}
	}
}

// mobile
@media(max-width: 980px) {
	.form {
		&--two-column {
			display: block;
		}
	}
}

// desktop
@media(min-width: 980px) {
	.form {
		&--two-column {
			display: flex;
			justify-content: space-between;
			flex-flow: row nowrap;
			gap: $scale-main/2;
		}
	}
}