$saiga : #46C0EE;
$oryx : #EB4A45;
$madoqua : #A5EB51;
$impala : #B8349D;
$nyala : #E4803A;

.product {

	border-radius: .7em;
	
	box-shadow: 1.5px 3px 5px rgba($dark, .5) inset;

	&__wrapper {
		display: inline-block;
	
		max-width: 30%;
		max-height: auto;

		border-radius: .7em; // for the focus outline
	}
	
	&__fig {
		.fig {
			&__thumb {
				min-width: 100%;
				min-height: auto;

				filter: drop-shadow(1.5px 3px 5px rgba($dark, .5));
			}
		}
	}

	&__description {

		padding: 1.5em;

		text-align: center;

		background-color: $background2;

		border-radius: .7em; // TODO: fix radius everywhere

		.description {
			&__title {

				margin-bottom: .5em;

				font-family: Montserrat;
				font-size: 1.5em;

				&::after {
					content: '';
					display: block;

					$product-card-separator-width: 60%;
					width: $product-card-separator-width;

					margin-left: calc((100% - $product-card-separator-width)/2);
					margin-top: .5em;
		
					border-top: 1px solid rgba($dark, .5);
				}
			}
		}
	}
}