.product {

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	min-height 	: 100%;

	border-radius: .7em;
	
	box-shadow: 1.5px 3px 5px rgba($dark, .5) inset;

	&__wrapper {
		display: inline-block;
	
		width: 100%;
		height: 100%;

		text-decoration: none;
		color: black;

		border-radius: .7em; // for the focus outline
	}

	&__fig {
		.fig {
			&__thumb {
				// min-width: 100%;
				// min-height: auto;

				filter: drop-shadow(1.5px 3px 5px rgba($dark, .5));
			}
		}
	}

	&__description {

		padding: 1.5em;

		text-align: center;

		background-color: $background2;

		border-radius: .7em; // TODO: fix radius everywhere

		.description {
			&__title {

				margin-bottom: .5em;

				font-family: Montserrat;
				font-size: 1.5em;

				&::after {
					content: '';
					display: block;

					$product-card-separator-width: 60%;
					width: $product-card-separator-width;

					margin-left: calc((100% - $product-card-separator-width)/2);
					margin-top: .5em;
		
					border-top: 1px solid rgba($dark, .5);
				}
			}
			&__excerpt {
				font-family: Lato;
				font-size: 1.2em;
			}
		}
	}
}