.question {
	&-small {
		overflow: hidden;
		max-height: fit-content;

		border-top: 2px solid #000;
		
		transition: height 5s ease-out;

		.line {
			&__title, &__answer {
				font-family: lato;
				font-size: 28px;
			}
			&__answer {
				display: none;
			}

			&__button {
				&:active {
					& ~ .line__answer {
						display: block;
						color: #ff00ff!important;
						background-color: #00ff00!important;
					}
				}
			}
		}
	}
}