
// arrow animation
.question__details[open] .details__summary:before { // for some reason this doesn't work inside the tree below so this goes here
	transform: rotate(-135deg);
}

// slide animation
.question__details[open] > *:not(.details__summary) { // this is only works once... oh well
	animation: sweep .25s ease-in-out forwards;
}

@keyframes sweep {
	from	{opacity: 0; transform: translateY(-100%)}
	to		{opacity: 1; transform: translateY(0)}
}

.question {
	&-collapsible {

		max-height: fit-content;
		padding: 1.6em .8em;

		border-top: 1px solid rgba($darker, .25);

		.details {

			&__summary, &__answer {
				font-family: lato;
				font-size: 1.75em;
			}
			
			&__summary {
				
				cursor: pointer;
				list-style: none;
				
				margin-bottom: .8em;

				&:before {
					content: '';
					border: solid $darker;
					border-width: 0 3px 3px 0;
					float: right;
					padding: 3px;
					transform: rotate(45deg);

					transition: transform .25s ease-in-out;
					}
				
				.summary {
					&__title {
						display: inline;
					}
				}
			}
			&__answer {
				// TODO: fix font weight
				font-weight: lighter;
			}
		}
	}
}