@mixin component-button($color: $accent, $radius: $scale-main, $text-color: $background) {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	background-color: $color;
	color: $text-color;
	font-family: Montserrat;
	border-radius: $radius;
	border: none;
}